.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    width: 920px;
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
  }
  